@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=vietnamese);/* Custom font */

body,
button,
input,
select,
optgroup,
textarea,
.sml-add-to-cart-wrap a.add_to_cart_button.button,
.plx_lat_prod_cat_section a.button.ajax_add_to_cart,
.plx_lat_prod_cat_section a.button.add_to_cart_button,
.plx_lat_prod_cat_section span.price,
.main-navigation ul > li a,
.product-title,
.product-subtitle,
.top-header-left-text,
.lat-pro-title,
a.added_to_cart,
.lat-pro-subtitle,
.n2-ss-layer .n2-ow {
  font-family: "Roboto", sans-serif !important;
}

.header-two .search-form-wrap h3 {
  font-size: 30px !important;
}

#pgc-211-1-0,
#pgc-211-1-1 {
  width: 50%;
  width: calc(50% - ( 0.5 * 30px ) );
}

.panel-grid.panel-no-style {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.panel-layout #pg-211-1 .panel-grid-cell {
  width: 100%;
}

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

/* fixes potential theme css conflict */

.acf-map img {
  max-width: inherit !important;
}

@media screen and (max-width: 992px) {
  .so-panel.widget.widget_sow-google-map {
    padding-left: 20px;
  }
}

.sml-add-to-cart-wrap a {
  background-color: unset !important;
  color: #000 !important;
}

.sml-add-to-cart-wrap a:hover {
  color: #51aa1b !important;
}

input#woocommerce-product-search-field-0[type=search] {
  width: 762px;
}

.header-two .search-form-wrap form.woocommerce-product-search input[type=search] {
  height: 55px;
  line-height: 55px;
  border: 1px solid #e5e5e5;
  color: #8a929a;
  border-radius: 0;
  padding: 0 20px;
  font-size: 18px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header-two .search-form-wrap form.woocommerce-product-search button[type=submit] {
  position: absolute;
  top: -2px;
  right: 0;
  width: 54px;
  height: 54px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.header-two .search-form-wrap form.woocommerce-product-search::after {
  position: absolute;
  top: -2px;
  right: 0;
  width: 54px;
  height: 54px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
}

/* CUSTOME FOOTER */

footer .store-mart-lite-container.clearfix {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  margin-top: 10px;
}

.store-mart-lite-lat-prod-cat-wrap .sml-latest-prod-add-to-cart a {
  color: #222 !important;
  -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: transparent !important;
}

.store-mart-lite-lat-prod-cat-wrap .sml-latest-prod-add-to-cart a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #51aa1b;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.store-mart-lite-lat-prod-cat-wrap .sml-latest-prod-add-to-cart a:hover:before,
.store-mart-lite-lat-prod-cat-wrap .sml-latest-prod-add-to-cart a:focus:before,
.store-mart-lite-lat-prod-cat-wrap .sml-latest-prod-add-to-cart a:active:before {
  right: 0;
}

.return-to-shop a.button.wc-backward {
  background-color: transparent;
  color: black;
}

.return-to-shop a.button.wc-backward:hover {
  background-color: transparent;
  color: #51aa1b;
}


/*# sourceMappingURL=app.css.map*/