.sml-shop-wrap.sml-page-wrap.sml-archive-wrapper{
    .archive-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form.woocommerce-ordering{
        margin: unset!important;
    }
}
/* FOOTER CUSTOME MOBILE */
ul.product_list_widget{
    padding-left: 0px!important;
}
.store-mart-lite-section-footer-wrap-main .textwidget {
    text-align: center;
    p{
    padding-right: 0;
    }
}
#media_image-1{
    text-align: center;
}
.widget.widget_media_image{
    text-align: center;
}